@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*оформление
selector {
  Позиционирование
  Блочная модель
  Типографика
  Оформление
  Анимация
  Разное
}
*/

body {
  /*Блочная модель*/
  margin: 0;
  padding: 0;
  /* Типографика */
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  /* Оформление */
  color: #000000;

}

img {
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

}

/* --- HEADER --- */
.main-header {
  min-height: 55px;

}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
  z-index: 1000;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  float: left;
  margin-right: 75px;
  margin-left: 72px;
  padding-top: 16px;

}

.main-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.main-menu li:nth-child(2) {
  margin-right: 315px;
}

.main-menu li:last-child {
  margin-right: 0;
  margin-left: 92px;
}

/* --- Index photo --- */
.intro {
  min-height: 509px;

}

.intro-logo-wrapper {
  position: relative;
  /*min-height: 509px;*/
  /*background: #81888e url("../img/background-photo.jpg") no-repeat 50% 16%;*/
  height: 509px;
  overflow: hidden;
}

.intro-logo-photo {
  display: block;
  /*padding-top: 76px;*/
  margin: 0 auto;
  /*width: 458px;*/
  margin-top: -55px;
  min-height: 352px;
}

.intro-logo-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/intro-shape.png") no-repeat 50% 50%;
}

/* --- Main heading --- */
.features-title {
  min-height: 140px;

}

.features-title-heading {
  margin-top: 61px;
  margin-bottom: 28px;
  line-height: 26px;
  font-weight: 700;

}

/* --- FEACHERS --- */
.features-item-active-left {
  min-height: 256px;

}

.features-item-active-left-description {
  float: left;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.features-item-active-left-image-wrapper {
  float: left;
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.features-item-active-left-image {
  margin-top: -78px;
}

.features-item-active-left h2 {
  width: 190px;
  min-height: 45px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 15px;
}

.features-item-active-left p {
  width: 300px;
  min-height: 45px;
  margin: 0 auto;
}

.features-items-benefits {
  min-height: 330px;

  /* для сетки */
  box-shadow: 0 0 0 1px yellow;
}

.features-item {
  float: left;
  width: 400px;
  min-height: 330px;
}

.features-item h2 {
  margin: 0 auto;
  margin-top: 161px;
}

.features-item p {
  width: 300px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 21px;
}

.features-icon-house {
  background-image: url("../img/content-icon-house.png");
  background-repeat: no-repeat;
  background-position: 50% 62px;
}

.features-icon-food {
  background-image: url("../img/content-icon-food.png");
  background-repeat: no-repeat;
  background-position: 50% 62px;
}

.features-icon-gift {
  background-image: url("../img/content-icon-gift.png");
  background-repeat: no-repeat;
  background-position: 50% 58px;
}

.features-item-active-right {
  min-height: 255px;

}

.features-item-active-right-description {
  float: right;
  width: 400px;
  min-height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
}

.features-item-active-right-image-wrapper {
  float: right;
  width: 800px;
  height: 256px;
  overflow: hidden;

}

.features-item-active-right-image {
  margin-top: -76px;
}

.features-item-active-right h2 {
  width: 170px;
  min-height: 45px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 15px;
}

.features-item-active-right p {
  width: 320px;
  min-height: 45px;
  margin: 0 auto;
}


.features-items-no-active {
  min-height: 257px;
  background-color: #eeeeee;

}

.features-item-no-active {
  float: left;
  width: 400px;
  min-height: 257px;
}

.features-item-no-active h2 {
  width: 140px;
  min-height: 15px;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 18px;
}

.features-item-no-active-number {
  width: 60px;
  margin: 0 auto;
  margin-bottom: 19px;
}

.features-item-no-active-description {
  width: 285px;
  min-height: 55px;
  margin: 0 auto;
}


/* --- Offers --- */
.offers {
  min-height: 233px;

}

.offers-title {
  margin-top: 58px;
  font-size: 20px;
  font-weight: 700;
}

.offers-description {
  margin-top: 30px;
}

.offers a {
  display: inline-block;
  vertical-align: top;
  margin-top: 31px;
  padding: 30px 140px;
  background-color: #766357;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}


/* --- MAP --- */
.map {
  height: 473px;
  background: #cbdda9 url("../img/map.jpg") no-repeat 50% 60%;

}

.map-iframe {
  min-height: 473px;
}

/* --- inner.html --- */
/* --- Filters --- */

.filters-form {
  min-height: 218px;
  background: #566f83 url("../img/filter-background.jpg") no-repeat 50% 10%;
}

.filters-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-form-infrastructure {
  float: left;
  width: 288px;
  min-height: 218px;

  /* для сетки */
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.filters-form-kind {
  float: left;
  width: 288px;
  min-height: 218px;

  /* для сетки */
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

.filters-form-price {
  float: right;
  width: 328px;
  min-height: 218px;

  /* для сетки */
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
}

/* --- Filter result --- */
.result {
  min-height: 541px;
}

.result-top {
  min-height: 90px;
}

.result-top-left {
  text-align: left;
}

.result-top-right {
  text-align: right;
}

.result-body {
  min-height: 453px;
}

.result-item {
  min-height: 152px;
}

.result-item-photo {
  float: left;
  width: 135px;
  min-height: 90px;
}

.result-item-content {
  float: left;
  width: 681px;
  min-height: 152px;

  /* для сетки */
  box-shadow: 0 0 0 1px rgb(255, 45, 82);
}

.result-item-popular {
  float: right;
  width: 241px;
  min-height: 152px;

  /* для сетки */
  box-shadow: 0 0 0 1px rgb(255, 45, 82);
}

/* --- MAIN FOOTER --- */

.main-footer {
  min-height: 122px;

}

.footer-left {
  float: left;
  width: 400px;
  min-height: 122px;

  font-size: 21px;
  line-height: 26px;

}

.footer-left span {
  display: block;
  margin-top: 46px;
  font-size: 21px;
  font-weight: 700;
}

.footer-social-wrapper {
  float: left;
  width: 400px;
  min-height: 122px;

}

.footer-social {
  width: 200px;
  min-height: 120px;
  margin: 0 auto;
  margin-top: 36px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  vertical-align: top;
  font-size: 0;
  background-color: #81b3d2;
}

.social-btn span {
    font-size: 20px;
    line-height: 48px;
    color: #ffffff;
}

.footer-copyright {
  float: left;
  position: relative;
  width: 400px;
  min-height: 122px;

}

.footer-logo {
  width: 113px;
  min-height: 39px;
  margin: 0 auto;
  margin-top: 40px;
  margin-right: 103px;
}

.footer-copyright span {
  position: absolute;
  top: 47px;
  left: 102px;
}


























































/*======================================
 Системное оформление - не изменять
=======================================

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > *,
body > * > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before,
body > * > * > * > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > * > * > * > *::before {
  top: -3px;
  left: -3px;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(0, 45, 255, 0.2);
  box-shadow: inset 0 0 0 2px rgb(0, 45, 255);
}

body > * > * > * > *::before {
  color: black;

  background: rgb(0, 45, 255);
}

body > * > * > * > * > * {
  background: rgba(0, 182, 50, 0.2);
  box-shadow: 0 0 0 3px rgb(0, 182, 50);
}

body > * > * > * > * > *::before {
  color: white;

  background: rgb(0, 182, 50);
}

body > * > * > * > * > * > * {
  background: rgba(205, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > * > * > * > * > *::before {
  color: white;

  background: rgb(205, 45, 82);
}


.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
